<nav class="navbar">
  <div class="nav-container">

    <div class="logo">
      NM
    </div>

    <button class="menu-toggle" (click)="menuOpen = !menuOpen">
      ☰
    </button>

    <div class="nav-links" [class.open]="menuOpen">

      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="menuOpen=false">
        Home
      </a>

      <a
        routerLink="/history"
        routerLinkActive="active"
        (click)="menuOpen=false">
        History
      </a>

      <a
        routerLink="/experience"
        routerLinkActive="active"
        (click)="menuOpen=false">
        Experience
      </a>

      <a
        routerLink="/projects"
        routerLinkActive="active"
        (click)="menuOpen=false">
        Projects
      </a>

      <a
        routerLink="/research"
        routerLinkActive="active"
        (click)="menuOpen=false">
        Research
      </a>

      <a
        routerLink="/contact"
        routerLinkActive="active"
        (click)="menuOpen=false">
        Contact
      </a>

    </div>

  </div>
</nav>